* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
}

.background {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  transition: all 0.3s ease;
  padding: 0 2rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.5rem;
}

.nav-options {
  display: flex;
  gap: 2rem;
  font-size: 20px;
}
.nav-options a {
  color: gray;
  transition: color o.3s ease;
}

.nav-options a:hover {
  color: #ff9005;
}

.logo img {
  width: 150px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top-sections {
  display: flex;
  gap: 2rem;
}

.section1 {
  display: flex;
  flex-direction: column;
  max-width: none;
}

.section1 img {
  width: 100%;
  padding-bottom: 1.5rem;
}
.section1-content {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.section1-content h3 {
  font-size: 3rem;
}

.p-text {
  font-size: 1rem;
  line-height: 2;
}
.p-text p {
  padding-bottom: 1rem;
}

.button {
  background-color: #ff0000;
  font-size: 20px;
  width: 15rem;
  height: 3rem;
  border: none;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: black;
  color: white;
}

.section2-background {
  display: flex;
  flex-direction: column;
  background-color: #010048;
  height: 100%;
  padding: 1rem;
}

.section2-background h3 {
  color: #ff9005;
  font-size: 3rem;
}

.section2-content .item {
  display: flex;
  flex-direction: column;
}
.item {
  padding-top: 1.5rem;
}

.item h1 {
  color: white;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.item h1:hover {
  color: #ff9005;
}

.item p {
  color: #a7adba;
}

hr {
  border-top: 1pxsolid gray;
  margin: 1rem 0;
}

.section3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding-top: 2rem;
}

.blog {
  display: flex;
  gap: 1.5rem;
  flex: 1;
  max-width: calc(33.33% -1.33rem);
}

.blog img {
  height: 9rem;
  width: auto;
  object-fit: cover;
}

.blog-content {
  display: flex;
  flex-direction: column;
}

.blog-content h1 {
  font-size: 2rem;
  color: #808080;
  font-weight: bold;
  padding-bottom: 1rem;
}

.blog-content h3 {
  font-size: 1.1rem;
  color: #000;
  font-weight: bold;
  padding-bottom: 1rem;
}

.blog-content p {
  font-size: 0.9rem;
  color: #808080;
  line-height: 1.5rem;
}

/* media queries */

@media (min-width: 1800px) {
  .background {
    max-width: 1600px;
  }

  .section1-content h3 {
    font-size: 4rem;
  }

  .p-text {
    font-size: 1.2rem;
  }

  .section2-background h3 {
    font-size: 4rem;
  }

  .blog img {
    height: 13rem;
  }

  .blog-content h1 {
    font-size: 3rem;
  }

  .blog-content h3 {
    font-size: 1.5rem;
  }

  .blog-content p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1440px) {
  .background {
    max-width: 1440px;
  }

  .section1-content h3 {
    font-size: 3.5rem;
  }

  .p-text {
    font-size: 1.1rem;
  }

  .section2-background h3 {
    font-size: 3.5rem;
  }

  .blog img {
    height: 11rem;
  }

  .blog-content h1 {
    font-size: 2.5rem;
  }

  .blog-content h3 {
    font-size: 1.3rem;
  }

  .blog-content p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .background {
    margin: 2rem auto;
  }

  .nav-options {
    display: none;
  }

  .top-sections {
    flex-direction: column;
  }

  .section3 {
    flex-direction: column;
  }

  .blog {
    max-width: 100%;
  }
}

@media (max-width: 480) {
  .background {
    margin: 1rem auto;
  }
  .section1-content h3 {
    font-size: 2rem;
  }

  .section2-background h3 {
    font-size: 2.5rem;
  }

  .blog img {
    height: 7rem;
  }

  .blog-content h1 {
    font-size: 1.5rem;
  }
}
